* {
	margin: 0px;
	padding: 0px;
}
body {
	background: linear-gradient(to bottom left, #DCDCDC, #C0C0C0);
	color: black;
	width: 90%;
	margin-left: 5%;
	margin-top: 1.5%;
	font-size: 14pt;
}
header {
	width: 100%;
}
footer {
	width: 100%;
}
.wrap {
	width: 100%;
	padding-top: 5%;
}

.content {
	width: 96%;
	margin-left: 2%;
}
.wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }

.content{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.name {
	width: 80%;
	text-align: center;
	font: 20px Buxton Sketch, sans-serif;
	padding-bottom: 3%;
	padding-top: 8%;
	margin-left: 20%;
	color: rgb(129, 40, 72);
}
n
 .input {
	padding: 5%;
	margin-bottom: 0%;
}
.auth {
	width: 50%;
	margin-left: 20%;
}
.auth_button {
	padding: 1%;
}
.quit {
	width: 100%;
	text-align: right;
}
.parser {
	margin-top: 5%;
}
/* Стилізація таблиць */
table {
	border-collapse:separate;
	border:none;
	border-spacing:0;
	margin:8px 12px 18px 6px;
	line-height:1.2em;
	margin-left:auto;
	margin-right:auto;
	overflow: auto;
}
table th {
	font-weight:bold;
	background: silver;
	color:rgb(129, 40, 72);
	font: 24px Buxton Sketch, sans-serif;
	border:1px solid #666;
	border-right:1px solid white;
}
table th:last-child {
	border-right:1px solid #666;
}
tr{
	border:none;
}
td {
	border:1px solid #666;
	border-width:1px 1px 0 0 ;
	color: black;
	font: 20px Buxton Sketch, sans-serif, italic;
}
td, th {
	padding:15px;
}
tr td:first-child {
	border-left-width:1px;
}
tr:last-child td {
	border-bottom-width:1px;
}